@page "/"
@using System.Text.Json
@inject IHomeViewModel ViewModel
@inject NavigationManager NavigationManager

<!--  Top App Bar  -->
<MudAppBar Elevation="7" Color="Color.Primary">
    <LogoAppBar />
    <MudStack Row="true" Justify="Justify.FlexEnd" Style="width: 80%">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="/about" StartIcon="@Icons.Material.Filled.Info">About</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="https://github.com/echemdb" StartIcon="@Icons.Custom.Brands.GitHub">GitHub</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="color: white;" DisableElevation="true" DisableRipple="true"
                   Href="https://echemdb.github.io/unitpackage/index.html" StartIcon="@Icons.Custom.FileFormats.FileDocument">Documentation</MudButton>
        <ThemeButton/>
    </MudStack>
</MudAppBar>

<MudStack Class="pa-5" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudText Typo="Typo.h3"><b>Welcome to echemdb</b></MudText>
    <MudText Typo="Typo.h6">the community database for electrochemical data</MudText>
</MudStack>

<!--  Search Bar & Button  -->
<MudStack Class="mt-5" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
    
    <MudStack Row="true" Style="width:50%;">
        <MudTextField @bind-Value="ViewModel.SearchString" Label="Type in or click the element(s) you are looking for" Adornment="Adornment.End" Immediate="true" Clearable="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" AdornmentColor="Color.Primary" Class="mt-0" Variant="Variant.Outlined"
                      HelperText="please leave a blank space between elements" HelperTextOnFocus="true"></MudTextField>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendElements" Style="height:55px;">Search</MudButton>
    </MudStack>
</MudStack>

<MudStack Class="pa-5" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack>
        <!--  Hovered Element Card  -->
        <ElementCard Element="@ViewModel.HoveredElement"/>

        <!--  Periodic Table Legend  -->
        <MudStack Class="mt-5" Justify="Justify.Center">
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Teal.Darken2};")"></MudPaper>
                    <MudText Typo="Typo.caption">Alkali metals</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Red.Darken3};")"></MudPaper>
                    <MudText Typo="Typo.caption">Alkaline earth metals</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Purple.Darken3};")"></MudPaper>
                    <MudText Typo="Typo.caption">Transition metals</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Green.Darken3};")"></MudPaper>
                    <MudText Typo="Typo.caption">Post-transition metals</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Lime.Darken4};")"></MudPaper>
                    <MudText Typo="Typo.caption">Metalloids</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Indigo.Default};")"></MudPaper>
                    <MudText Typo="Typo.caption">Reactive non-metals</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Pink.Darken3};")"></MudPaper>
                    <MudText Typo="Typo.caption">Noble gases</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Blue.Default};")"></MudPaper>
                    <MudText Typo="Typo.caption">Lanthanides</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Brown.Default};")"></MudPaper>
                    <MudText Typo="Typo.caption">Actinides</MudText>
                </MudStack>
                <MudStack Row="true">
                    <MudPaper Class="legend" Elevation="6" Style="@($"background:{Colors.Grey.Darken2};")"></MudPaper>
                    <MudText Typo="Typo.caption">Unknown properties</MudText>
                </MudStack>
        </MudStack>
    </MudStack>

        <!--  Periodic Table Cells  -->
    <MudPaper Class="pa-5" Outlined="true">
        <MudStack Style="padding-bottom:10px" Row="true">
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[0]" OnFunctionExecuted="HandleRenderer"/>
            <MudSpacer />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[1]" OnFunctionExecuted="HandleRenderer" />
        </MudStack>
        <MudStack Style="padding-bottom:10px" Row="true">
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[2]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[3]" OnFunctionExecuted="HandleRenderer" />
            <MudSpacer />
            @for (int i = 4; i <= 9; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>
        <MudStack Style="padding-bottom:10px" Row="true">
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[10]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[11]" OnFunctionExecuted="HandleRenderer" />
            <MudSpacer />
            @for (int i = 12; i <= 17; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>
        <MudStack Style="padding-bottom:10px" Row="true">
            @for (int i = 18; i <= 35; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>
        <MudStack Style="padding-bottom:10px" Row="true">
            @for (int i = 36; i <= 53; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>
        <MudStack Style="padding-bottom:10px" Row="true">
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[54]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[55]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[56]" OnFunctionExecuted="HandleRenderer" />
            @for (int i = 71; i <= 85; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>
        <MudStack Style="padding-bottom:30px" Row="true">
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[86]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[87]" OnFunctionExecuted="HandleRenderer" />
            <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[88]" OnFunctionExecuted="HandleRenderer" />
            @for (int i = 103; i <= 117; i++)
            {
                <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
            }
        </MudStack>

        <MudStack AlignItems="AlignItems.Center">
            <MudStack Row="true">
                @for (int i = 57; i <= 70; i++)
                {
                    <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
                }
            </MudStack>
            <MudStack Row="true">
                @for (int i = 89; i <= 102; i++)
                {
                    <ElementCell ViewModel="@ViewModel" element="@ViewModel.Elements[i]" OnFunctionExecuted="HandleRenderer" />
                }
            </MudStack>
        </MudStack>
    </MudPaper>
</MudStack>

<!--  University Logos  -->
<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudText Typo="Typo.h4"><b>Project developed through the colaboration of:</b></MudText>
</MudStack>
<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly">
    <MudImage Src="/images/logo_FHI.png" Width="365" Height="250" />
    <MudImage Src="/images/Logo_Berliner_Hochschule_fur_Technik.png" Width="450" Height="250" />
    <MudImage Src="/images/Logo_uulm.png" Width="450" Height="150" />
</MudStack>

<div class="pa-5"></div>
<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudImage Class="mr-5" Src="images\echemhome.svg" Width="250" Height="250"/>
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>Philosophy</b></MudText>
            <MudText Typo="Typo.h6">
                echemdb aims at standarizing (electrochemical) data according to the 
                <MudLink Typo="Typo.h6" Href="https://www.go-fair.org/fair-principles/">FAIR principles</MudLink>, allowing comparison 
                of published data with data acquired in the laboratory and theoretical models.</MudText>
            <MudLink Class="mt-5" Typo="Typo.h6" Href="/">Learn more</MudLink>
        </MudStack>
    </MudStack>
</MudStack>

<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>Website</b></MudText>
            <MudText Typo="Typo.h6">
                This website shows cyclic votammograms from the echemdb data repository which were standardized and validated
                from published works by the community.
            </MudText>
        </MudStack>
        <MudImage Class="ml-5" Src="images\home_plot.png" Width="250" Height="250" />
    </MudStack>
</MudStack>

<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudImage Class="mr-5" Src="images\home_api.png" Width="250" Height="230" />
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>API</b></MudText>
            <MudText Typo="Typo.h6">
                The echemdb Python module provides an interactive way to visualize, filter, or evaluate the entries in the database.
            </MudText>
            <MudLink Class="mt-5" Typo="Typo.h6" Href="https://echemdb.github.io/unitpackage/">Documentation</MudLink>
        </MudStack>
    </MudStack>
</MudStack>

<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>Metadata</b></MudText>
            <MudText Typo="Typo.h6">
                A metadata schema for electrochemical measurements renders electrochemical data interoperable.
            </MudText>
            <MudLink Class="mt-5" Typo="Typo.h6" Href="https://github.com/echemdb/metadata-schema">Learn more</MudLink>
        </MudStack>
        <MudImage Src="images\home_yaml.png" Width="250" Height="200" />
    </MudStack>
</MudStack>

<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudImage Class="mr-5" Src="images\home_autotag_metadata.png" Width="250" Height="100" />
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>Automated Data Annotation</b></MudText>
            <MudText Typo="Typo.h6">
                AutotagMetadata is a tool with a GUI for automated tagging of newly created data with metadata from a template.
            </MudText>
            <MudLink Class="mt-5" Typo="Typo.h6" Href="https://echemdb.github.io/autotag-metadata/">Learn more</MudLink>
        </MudStack>
    </MudStack>
</MudStack>

<MudStack Class="pa-5 mt-10" AlignItems="AlignItems.Center" Justify="Justify.Center">
    <MudStack Row="true">
        <MudStack Style="width:700px;">
            <MudText Typo="Typo.h4"><b>Digitizer</b></MudText>
            <MudText Typo="Typo.h6">
                The svgdigitizer recovers data from published figures, where machine-readable data is not available.
            </MudText>
            <MudLink Class="mt-5" Typo="Typo.h6" Href="https://echemdb.github.io/svgdigitizer/">Learn more</MudLink>
            <MudLink Typo="Typo.h6" Href="https://echemdb.github.io/svgdigitizer/workflow.html">Digitize a plot for echemdb</MudLink>
        </MudStack>
        <MudImage Class="ml-5" Src="images\home_digitizer.png" Width="250" Height="250" />
    </MudStack>
</MudStack>
<div class="pa-5"></div>

@code
{
    private void HandleRenderer()
    {
        StateHasChanged();
    }

    public void SendElements()
    {
        var serializedList = JsonSerializer.Serialize(ViewModel.GetSelectedElements());
        ViewModel.SearchString = "";
        NavigationManager.NavigateTo($"/entries-search?list={Uri.EscapeDataString(serializedList)}");
    }
}

<style>

    .legend {
        width: 20px;
        height: 20px;
        display: flex;
    }
</style>